/* Styles for the hotels page */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FF6B00;
    margin: 0%;
    height: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
nav {
    margin-right: 0%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 100%;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}
.logo {
    border-radius: 5%;
    margin-left: 1%;
    margin-right: 10%;
    width: auto;
    height: 70%;
}
.navigation { 
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-right: 10%;
    text-transform: uppercase;
    font-size: 22px;
    transition: all 0.1s ease-in;
}
.navigation:hover {
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}
.navigation:active {
    color: black;
    text-shadow: none;
}
.hotels {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-right: 2%;
    text-transform: uppercase;
    font-size: 22px;
    transition: all 0.1s ease-in;
}
.hotels:hover {
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}
.hotels:active {
    color: black;
    text-shadow: none;
}
.contact {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #FF6B00;
    background-color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.1s ease-in;
    margin-right: 0%;
}
.contact:hover {
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}
.contact:active {
    background-color: black;
    box-shadow: none;
}
h1 {
    font-weight: bold;
    margin-top: 0px;
    padding-top: 30px;
    color: #fff;
    font-size: 48px;
    text-align: center;
}
h2 {
    margin-top: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
h3 {
    font-family: 'Inder', sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.7rem;
}
.favicon {
    border-radius: 100%;
    position: absolute;
    width: 90px;
    height: 90px;
    bottom: 25%;
    left: 5%;
}
footer {
    position: relative;
    margin: 0%;
    width: 100%;
    height: 180px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: #525252;
    padding-bottom: 20px;
}
.footer {
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}
.border {
    width: 45%;
    height: 780px;
    border-radius: 50px;
    background-color: #FF6B00;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    width: 95%;
    height: 90%;
    border-radius: 50px;
    background-color: #fff;
}
.detailpage-image {
    object-fit: cover;
    width: 100%;
    height: 350px;
    border-radius: 50px;
}
.description {
    font-size: 20px;
    text-align: center;
    margin: 10px;
    margin-top: 20px;
}
.items {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.icon {
    width: 50px;
    height: 50px;
}
.details {
    height: 25%;
    margin: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 30% 15% 30%;
    grid-template-rows: 50% 50%;
    justify-items: center;
    align-items: center;
}
p, .website {
    font-size: 20px;
    text-align: center;
    font-family: 'Hind Madurai', sans-serif;
    transition: all ease-in;
}
.website:hover {
    color: blue;
}
.website:visited {
    color: red;
}
.evaluation {
    font-size: 30px;
}
span {
    position: absolute;
    left: 5px;
    bottom: 20px;
    color: #FFF;
}
aside {
    z-index: 9999;
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: #fff;
}
.adress {
    font-size: 13px;
}
.number {
    font-size: 15px;
}
.website {
    font-size: 15px;
}
@media screen and (min-width: 769px) and (max-width: 1050px) {
    header {
        height: 60px;
    }
    .navigation {
        font-size: 16px;
    }
    .hotels {
        font-size: 16px;
    }
    .contact {
        font-size: 16px;
        padding: 7px;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        margin-top: 80px;
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    .details {
        height: 16%;
    }
    .detailpage-image {
        height: 200px;
    }
    .content {
        height: 530px;
    }
    .border {
        height: 590px;
    }
    .icon {
        width: 35px;
        height: auto;
    }
    .evaluation {
        font-size: 20px;
    }
    .adress {
        font-size: 10px;
    }
    .number {
        font-size: 10px;
    }
    .website {
        font-size: 10px;
    }
    .description {
        font-size: 17px;
    }
    .footer {
        font-size: 16px;
        padding: 1rem 0;
    }
    span {
        font-size: 10px;
    }
    aside {
        font-size: 10px;
    }
}
/* phone design */
@media screen and (max-width: 768px) {
    header {
        padding-right: 0%;
        display: flex;
        justify-content: space-around;
        justify-items: center;
        height: 50px;
    }
    nav {
        justify-items: center;
        text-align: center;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: auto auto;
        width: 100%;
        padding-right: 0%;
        margin-right: 0%;
    }
    .burger-menu {
        margin-left: 2%;
        display: flex;
        background-color: #FF6B00;
    }
    .logo {
        margin-left: 2%;
        margin-right: 5%;
    }
    .navigation {
        font-weight: 400;
        font-size: 10px;
    }
    .hotels {
        font-weight: 400;
        transition: none;
        font-size: 10px;
    }
    .hotels:hover {
        text-shadow: none;
    }
    .contact {
        font-weight: 400;
        margin-right: 0%;
        border-radius: 7px;
        font-size: 10px;
        padding: 3px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        margin-top: 70px;
        font-size: 18px;
    }
    h3 {
        font-size: 20px;
    }
    h3 {
        font-size: 20px;
    }
    .evaluation {
        font-size: 20px;
    }
    .icon {
        width: 35px;
        height: 35px;
    }
    .details {
        height: 100px;
    }
    .items {
        flex-direction: column;
        align-items: center;
    }
    .border {
        width: 99%;
        margin-bottom: 15px;
        height: fit-content;
        padding-bottom: 20px;
    }
    .content {
        height: fit-content;
    }
    .description {
        font-size: 16px;
    }
    span {
        font-size: 10px;
    }
    aside {
        font-size: 10px;
    }
    footer {
        padding-bottom: 10%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 30% 30%;
    }
    .footer {
        font-size: 16px;
        padding: 1rem 0;
    }
    .favicon {
        width: 12%;
        height: auto;
        bottom: 5%;
        left: 45%;
    }
}